body{
font-family:"Open Sans", sans-serif;
margin:0;
background:#f1f1f1;
}

h1,h2,h3{
font-family:"Oswald";
}

.topbar{
background:black;
color:white;
padding:10px;
}

.topbar i{
margin-right:15px;
cursor:pointer;
}

.right{
float:right;
}

.header{
text-align:center;
background:white;
padding:40px;
}

.header span{
background:black;
color:white;
padding:5px;
}

.hero{
background:url("https://www.w3schools.com/w3images/jane.jpg");
height:600px;
background-size:cover;
position:relative;
color:white;
}

.hero-text{
position:absolute;
bottom:100px;
left:40px;
}

.hero button{
padding:10px 20px;
border:none;
background:#ccc;
cursor:pointer;
}

.container{
display:flex;
padding:20px;
gap:20px;
}

.left{
flex:70%;
}

.right{
flex:30%;
}

.post{
background:white;
padding:20px;
margin-bottom:20px;
}

.post img{
width:100%;
}

.like{
background:#eee;
border:none;
padding:10px;
margin-top:10px;
}

.reply{
float:right;
background:black;
color:white;
border:none;
padding:10px;
}

.card{
background:white;
padding:15px;
margin-bottom:20px;
}

.card img{
width:100%;
}

.subscribe{
width:100%;
background:red;
color:white;
border:none;
padding:12px;
margin-top:10px;
}

footer{
background:#555;
color:white;
text-align:center;
padding:30px;
margin-top:40px;
}
