body{
font-family:Arial;
margin:0;
background:#f1f1f1;
}

nav{
display:flex;
justify-content:space-between;
background:black;
color:white;
padding:15px;
}

.hero{
text-align:center;
background:white;
padding:40px;
}

.layout{
display:grid;
grid-template-columns:2fr 1fr;
gap:20px;
padding:20px;
}

.post{
background:white;
padding:20px;
margin-bottom:20px;
}

.post img{
width:100%;
}

.card{
background:white;
padding:15px;
margin-bottom:20px;
}

.tags{
text-align:center;
padding:20px;
}

.tag{
padding:10px;
margin:5px;
}

#backTop{
position:fixed;
bottom:20px;
right:20px;
}

.hidden{
display:none;
}

.gold{
color:gold;
font-weight:bold;
}
